* {
	font-family: 'lato'; sans-serif;

}

html {
	display: block;
}

/*.gr-top-z-index {
    z-index: 2147483647;
}
injected stylesheet
.gr-top-zero {
    position: absolute;
    top: 0px;
}*/
/*QUESTION: What does this style do and to what?*/

body {
	margin: 0;
}

#cta h1 {
	color: yellow;
}

.navigation {
	background-color: #f6f9f9;
	padding: 25px 100px;
}

#cta {
	background-image: url('http://codifyacademy.com/week1/advanced/img/bg1.png');
	height: 800px;
	text-align: center;
}

#cta h1 {
	color: white;
	font-size: 120px;
	font-weight: 700;
	line-height: 47px;
	margin-bottom: 60px;
	margin-top: 0;
	padding-top: 225px;
	text-align: center;
}

#cta hr {
	border-color: #15a4fa;
	margin: 0 auto;
	width: 50%;
}

hr {
	display: block;
	border-style: inset;
	border-width: 1px;
}

#cta h2 {
	color: white;
	font-size: 20px;
	font-weight: 400;
	/*number range is to determine font thickness; 100-900 (100=thinest bold, 400=normal, 700=bold 900=thickest bold*/
	line-height: 47px;
	text-align: center;
}

#cta button {
	background-color: transparent;
	border-right: transparent;
	border-bottom: transparent;
	border-top: 1px solid #15a4fa;
	border-left: 1px solid #15a4fa;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	padding: 10px 15px;
}

#cta a {
	color: white;
	display: inline-block;
	margin-top: 100px;
}

.fa-2x {
	font-size: 2em;
}

#info {
	background-color: #f6f9f9;
	padding: 50px;
	text-align: center;
}

#info h1 {
	color: #2d3950;
	font-size: 40px;
	font-weight: 400;
}

#info p {
	color: #999999;
	font-weight: 400;
	line-height: 32px;
	margin: 0 auto;
	width: 74%;
}

#features {
	text-align: center;
}

#features .box {
	display: inline-block;
	font-weight: 400;
	margin: 5% 1%;
	padding: 10px;
	width: 21%;
}

#features .iconbox {
	background: linear-gradient(to right, #1e5799 0%, #207cca 50%, #2989d8 50%, #7db9eb 100%);
	height: 100px;
	margin: 0 auto;
	width: 100px;
}

#features i {
	color: white;
	display: block;
	font-size: 40px;
	padding-top: 25px;
	width: 100%;
}

#features h3 {
	color: #2d3950;
	font-size: 22px;
	margin-bottom: 3%;
}

#features p {
	color: #999999;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
}

#work {
	background-color: #f6f9f9;
	font-weight: 400;
	padding: 50px 0;
	text-align: center;
}

#work h3 {
	color: #2d3950;
	font-size: 41px;
	margin: 0;
}

#work p {
	color: #909090;
	font-size: 15px;
	line-height: 23px;
	text-align: center;
}

#work .box {
	display: inline-block;
	font-weight: 400;
	margin: 2% 1% 0%;
	padding: 10px;
	width: 25%;
}

#work img {
	background-color: red;
	/*QUESTION: Why background-color red?*/
	height: 100%;
	width: 100%;
}

#contact {
	background-image: url('http://codifyacademy.com/week1/advanced/img/bg2.png');
	background-position: 50%;
	height: 500px;
	padding: 100px;
	text-align: center;
}

#contact h3 {
	color: white;
	font-size: 41px;
	font-weight: 400;
	margin: 7% 0 0;
}

#contact p {
	color: #999999;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
}

form {
	display: block;margin-top: 0em;
}

form > input, form > textarea {
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid #f6f9f9;
	color: white;
	display: block;
	font-size: 16px;
	margin: 10px auto;
	padding: 10px;
	width: 30%;
}

form > span {
	color: white;
	font-size: 16px;
	font-weight: 400;
}

form > button {
	background-color: transparent;
	border: 1px solid #15a4fa;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	margin: 25px 0 0 50px;
	padding: 10px 25px;
}

.footer {
	background-color: #f6f9f9;
	padding: 10px;
	height: 50px;
	padding-left: 50px;
}

.footer p {
	float: left;
	margin-left: 75px;
}

#socialmedia {
	float: right;
	margin: 20px 75px 0 0;
}

#socialmedia a:first-child {
	padding: 7px 9px;
}

#socialmedia a {
	border-radius: 2px;
	background-color: #15a4fa;
	color: white;
	margin: 5px;
	padding: 7px;
	text-decoration: none;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 Fontawesome;
	font-size: inherit;
	text-rendering: auto;
	transform: translate(0,0);
}


